@model Prueba_Clinica.Models.Usuario

@{
    ViewBag.Title = "Modificar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Modificar Datos</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Paciente</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.run_usuario)

    <div class="form-group">
        @Html.LabelFor(model => model.nombre_usuario, "Nombre:", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.nombre_usuario, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.nombre_usuario, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.apellidoP_usuario, "Apellido Paterno:", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.apellidoP_usuario, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.apellidoP_usuario, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.apellidoM_usuario, "Apellido Materno:", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.apellidoM_usuario, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.apellidoM_usuario, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.fecha_nac_usuario, "Fecha de Naciemiento:", htmlAttributes: new { @class = "control-label col-md-5" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.fecha_nac_usuario, new { @Value = String.Format("{0:dd/MM/yyyy}", Model.fecha_nac_usuario), @class = "form-control" })
            @Html.ValidationMessageFor(model => model.fecha_nac_usuario, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.usuario1, "Usuario:", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.usuario1, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.usuario1, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.password_usuario, "Contraseña:", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.password_usuario, new { htmlAttributes = new { @class = "form-control", required = "required", placeholder = "Contraseña" } })
            @Html.ValidationMessageFor(model => model.password_usuario, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.confir_password_usuario, "Confirmar Contraseña:", htmlAttributes: new { @class = "control-label col-md-5" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.confir_password_usuario, new { htmlAttributes = new { @class = "form-control", placeholder = "Confirmar Contraseña" } })
            @Html.ValidationMessageFor(model => model.confir_password_usuario, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.direccion_usuario, "Dirección:", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.direccion_usuario, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.direccion_usuario, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Region, "Región:", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("region_usuario", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Region, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.comuna_usuario, "Comuna:", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("comuna_usuario", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.comuna_usuario, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.email_usuario, "Email:", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.email_usuario, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.email_usuario, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.fono_usuario, "Fono:", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.fono_usuario, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.fono_usuario, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.idTipo_usuario, "Tipo de Usuario", htmlAttributes: new { @class = "control-label col-md-2", @style = "display:none" })
        <div class="col-md-10">
            @Html.DropDownList("idTipo_usuario", null, htmlAttributes: new { @class = "form-control", @style = "display:none" })
            @Html.ValidationMessageFor(model => model.idTipo_usuario, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.idCliente_usuario, "id Cliente", htmlAttributes: new { @class = "control-label col-md-2", @style = "display:none" })
        <div class="col-md-10">
            @Html.DropDownList("idCliente_usuario", null, htmlAttributes: new { @class = "form-control", @style = "display:none" })
            @Html.ValidationMessageFor(model => model.idCliente_usuario, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.persona_cargo, "Run Persona Cargo::", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.persona_cargo, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.persona_cargo, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.status_usuario, "Status:", htmlAttributes: new { @class = "control-label col-md-2", @style = "display:none" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.status_usuario, new { htmlAttributes = new { @Value = "Activo", @class = "form-control", @style = "display:none" } })
            @Html.ValidationMessageFor(model => model.status_usuario, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.fecha_creacion, "Fecha Creación:", htmlAttributes: new { @class = "control-label col-md-2", @style = "display:none" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.fecha_creacion, new { @Value = String.Format("{0:dd/MM/yyyy}", Model.fecha_creacion), @class = "form-control", @style = "display:none" })
            @Html.ValidationMessageFor(model => model.fecha_creacion, "", new { @class = "text-danger" })
        </div>
    </div>
    <hr />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Modificar" class="btn btn-success" /> |
            <input onclick="document.location.href='@Url.Content("~/Usuarios/Index")'" type="button" value="Volver a la Lista" class="btn btn-outline-dark" />
        </div>
    </div>
</div>
}
